body {
	background: #00cadc;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 10px;
}

.header {
	border-bottom: 2px solid #00cadc;
	padding-bottom: 20px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 2em;
	background: #fff;
	min-height: 800px;
}

button {
	border: none;
	font-size: 20px;
	padding: 1em;
	border-radius: 5px;
	min-width: 150px;
	color: #fff;
	opacity: .85;
	margin-right: 0.5em;
}

button:hover {
	opacity: 1;
}

.red {
	background-color: #ff5a5f;
}

.orange {
	background: orange;
}

.blue {
	background: dodgerblue;
}